app:
    resource: "@AppBundle/Controller/"
    type:     annotation

fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

address_data:
    type: rest
    prefix: /adr
    resource: '@AppBundle/Resources/config/routing.yml'
    
app_user:
  type: rest
  prefix: /api
  resource: AppBundle\Controller\userController
  
fos_user_security_check:
  path:     /login_check
  defaults: { _controller: FOSUserBundle:Security:check }
  
fos_user_security_logout:
  path:     /logout
  defaults: { _controller: FOSUserBundle:Security:logout }

app_api:
  type: rest
  prefix: /api/postman
  resource: AppBundle\Controller\PostmanController