<div class="main-content" ng-show="authorization">
  <form name="form" ng-submit="submit()">
    <table>
      <tr>
        <td>Imie</td>
        <td colspan=2>
          <input type="text" name="first_name" ng-model="postman.first_name"/>
          <span ng-show="form.$submitted && errors.first_name">{{errors.first_name}}</span>
        </td>
      </tr>
      <tr>
        <td>Nazwisko</td>
        <td colspan=2>
          <input type="text" ng-model="postman.last_name" />
          <span ng-show="form.$submitted && errors.last_name">{{errors.last_name}}</span>
        </td>
      </tr>
       <tr>
        <td>Phone</td>
        <td colspan=2>
          <input type="text" ng-model="postman.phone" />
          <span ng-show="form.$submitted && errors.phone">{{errors.phone}}</span>
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td colspan=2>
          <input type="text" ng-model="postman.email" />
          <span ng-show="form.$submitted && errors.email">{{errors.email}}</span>
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td colspan=2>
          <input type="text" ng-model="postman.city" />
          <span ng-show="form.$submitted && errors.city">{{errors.city}}</span>
        </td>
      </tr>
      <tr><td height=5></td></tr>
      <tr>
        <td></td>
        <td align="right"><input type="submit" id="submit" value="Save" /></td>
        <td align="right"><input type="button" value="Cancel" ng-redirect-to="#"/></td>
      </tr>
    </table>
  </form>
</div>